{deps, [
       {detergent, ".*", {git, "git://github.com/Rawn/detergent.git", {branch, "master"}}},
       {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
       {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
       {parse_trans, ".*", {git, "git://github.com/esl/parse_trans.git", {branch, "master"}}}
]}.

{erl_opts, [
    debug_info
%    {parse_transform, lager_transform}
]}.
